# fly.toml app configuration file generated for hello-phx-up on 2024-06-26T16:48:26+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hello-phx-up'
primary_region = 'nrt'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'hello-phx-up.fly.dev'
  PORT = '8080'
  # https://fly.io/docs/elixir/getting-started/#important-ipv6-settings
  ERL_AFLAGS = "-proto_dist inet6_tcp"
  ECTO_IPV6 = "true"
  RELEASE_COOKIE = "73TPJVMoeacSQ0uK-vyJOp4tL9dRYk2wmwq7tmHtaX0HWfl-59NWLw=="

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  size = 'shared-cpu-1x'
  memory = "512mb"
