<.header>
  Edit Comment <%= @comment.id %>
  <:subtitle>Use this form to manage comment records in your database.</:subtitle>
</.header>

<.comment_form changeset={@changeset} action={~p"/comments/#{@comment}"} />

<.back navigate={~p"/comments"}>Back to comments</.back>
