<.header>
  Comment <%= @comment.id %>
  <:subtitle>This is a comment record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/comments/#{@comment}/edit"}>
      <.button>Edit comment</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Body"><%= @comment.body %></:item>
</.list>

<.back navigate={~p"/comments"}>Back to comments</.back>
